<a href="https://colab.research.google.com/github/SlicedYams/Database_and_SQL/blob/main/Copy_of_Database_and_SQL_Final_Project_Pt_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Database and SQL Final Project

##Name: Mark Doan
##Partner Name (Optional):

**Make sure to "save" a copy of this file to your own account.**

In this final project, you'll have the chance to design and implement a database using PostgreSQL. You'll be doing the following:


1.	Formulate business rules
2.	Construct an ERD from a set of business rules
3.	Specify the relational schema
4.	Discuss whether this schema meets the 1N, 2N, and 3N normal forms
5.	Create the tables using SQL queries
6.	Run sample SQL queries that demonstrate your ability to
  
  a.	Create table with primary keys and multiple data types

  b.	Join tables with foreign keys

  c.	Insert sample data into tables

  d.	Update existing data in the table

  e.	Delete data from the table
7.	Run sample SQL queries that demonstrate your ability to do the following:

  a.	Simple single table queries

  b.	Single-table queries with WHERE and LIKE

  c.	Single-table queries with aggregate functions

  d.	Single table queries with GROUP BY

  e.	Single-table queries with HAVING

  f.	Subqueries

  g.	Simple multi-table queries with JOIN

  h.	More complex multi-table queries

  i.	The creation of table views
  
  j.	The creation of indexes
8.	Discuss your process of database design and implementation using the Software Development LifeCycle Model 
9.	Do something unique! You could do ONE of the following, or something else:

  a.	Build some indexes and analyze query performance

  b.	Figure out how to add a JSON column, and insert data

  c.	Write a PL/SQL functions or trigger and show how to use it

  d.	Expand the data model to include subtypes and supertypes

  e.	Let your creativity shine!
10.	Save this project as a portfolio-quality work to Github, which you can then share with me (and with future employers, if you would like).

## Grading
The overall project is worth 100 points, with each of the 10 areas above worth 10 points each. 


## Other Guidelines

Here are the guidelines for working on the project:

1. You CAN work with a "team" of up to 3. You should each submit a copy of the work to the D2L dropbox (make sure to include your partner's names!), and each of you should create your own Github account.
2. I encourage you to discuss the project with me (as well as with your peers and tutors). However, my expectation is that the final work done by each team represents their "own" work.

#Load Postgres (Run This Cell)

In [12]:
# Some UNIX utilites we need to install for the lab.
!pip install wget --quiet
!pip install sqlalchemy --quiet
!pip install ipython-sql --quiet

# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!pip install pgspecial --quiet

!sudo service postgresql start


# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

# Setup a postgres database with name `my_data` to be used
!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS my_data;'

!sudo -u postgres psql -U postgres -c 'CREATE DATABASE my_data;'

# Postgres variables
%env DB_NAME=my_data
%env DB_HOST=localhost
%env DB_PORT=5432
%env DB_USER=postgres
%env DB_PASS=postgres

# Finally, let's make a connnection with the databse
%load_ext sql
%sql postgresql://$DB_USER:$DB_PASS@$DB_HOST/$DB_NAME

 * Starting PostgreSQL 10 database server
   ...done.
ALTER ROLE
ERROR:  database "my_data" is being accessed by other users
DETAIL:  There is 1 other session using the database.
ERROR:  database "my_data" already exists
env: DB_NAME=my_data
env: DB_HOST=localhost
env: DB_PORT=5432
env: DB_USER=postgres
env: DB_PASS=postgres
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: postgres@my_data'

#Part 1: Scenario Analysis and Business Rule Formulation
For the project, you’ll be creating a mock database for “Monster University,” a school that takes young monsters (dragons, werewolves, cute “ET” style aliens, vampires, ogres, talking apes, robot assassins, and basically anything else you want) and teaches them to be upstanding members of the monster community. The professors are ALSO monsters. Here are the business rules you’ll need to get started:

1.	Your main goal is to represent the Monsters, Classes, and Locations (buildings/rooms) at the school.
2.	Monsters can either teach classes, take classes, or both.
3.	For all Monsters we need to keep track of their 

  a.	name

  b.	species (what kind of monster are they?)

  c.	date of birth

  d.	their diet, if known (herbivore, carnivore, omnivore, “brains”, “electricity”, etc.)

  e. their GPA (between 0 and 4.0)

  f. the number of credits completed.

4.	For classes, we’d like to track the following:

  a.	The title of the class

  b.	The location in which the class is held

  c.	The duration of the class in minutes (between 30 and 180)

  d.  The days on which the class meets (for example "MWF" or "TH").

  e.  The start time of the class 
  
  f.  The instructor of the class (who is a Monster)

  
5. For locations we want to record:

  a. A two-character building code (e.g., "MH" for Memorial Hall).

  b. The room number between 1 and 2000.

  c. The max capacity between 10 and 300.

6. Some Monsters are Alumni, who have graduated from the school. For alumni we also want to record:

  a. the year they graduated, and
  
  b. their degree (computer science, business, English, etc.).

7.	Formulate THREE additional business rules of your choice. Remember, you’ll eventually need to implement these! At least ONE of these rules should involve a new entity, relationship, and/or constraint (as opposed to simply a new attribute).

##Your New Business Rules Here:
1. All monsters must be assigned a unique ID (Monster primary-key).

2. A class can host many students, but a class should have one primary instructor.

3. All location ID's must be a unique combination (Location composite-key).

#Part 2: Conceptual Modeling using Entity-Relationship Diagramming
In this step, I'd like to create an ERD for the business rules above using [Diagrams.net](https://diagrams.net). You should include all entities, attributes, relationships, and cardinalilities. After you have completed this diagram, you should do the following:

1. Export it as "SVG" file in diagrams.net, and save this to your computer.
2. Edit this cell, and select the "Insert Image" button.
3. Select the SVG file you download.
4. NOTE: SVG files will work much better than larger image files (which may cause problems if you try to insert them).

INSERT SVG FILE HERE.
![DOAN_SQL_FINAL_PROJECT.drawio.svg]()

#Part 3: Logical Modeling
In this part, I'd like you to map the E-R model you've created to a relational model. This involves creating a relational scheme like the following:


```
table_name_1(attribute1 (PK), attribute2, attribute3)
table_name_2(attribute1 (PK), attribute2, attribute3)

```
You should indicate any **primary keys** by using (PK) and any foreign keys with (FK). For primary keys, you'll need to think about whether you can/should use attributes included in the ER diagram, or whether you might want to to create new attributes to serve as keys.

I recommend creating entities in this order:
1. One table for each "strong" entity in the E-R diagram. Decide on a primary key.
2. Tables for subtypes, if needed.
3. One table for each "weak" entity (besides subtypes) in the E-R diagram. Decide on appropriate primary and foreign keys.
4. Tables needed to model M:N relationships present in the E-R diagram.

**PUT YOUR ANSWER BELOW.**

My answer...

(STRONG_ENTITIES)

monsters(monster_id (PK), species, date_of_birth, diet, gpa, completed_credits)

class_rooms( (building_code, room_number) (PK), max_capacity)

classes((title, instructor_id (FK), attendence_type) (PK), location (FK), duration, schedule, start_time)

(SUB_TYPES)

instructors(monster_id (FK), office_location (FK)

alumni(monster_id (FK), graduation_year, degree)

(WEAK_ENTITIES)

(M:N RELATIONS)

monsters x classes (Monsters2Classes)

#Part 4: Normalization
Are your relations normalized? Please provide a 2-3 sentence explanation of why/how they meet the following normal forms. Or, if they don't, describe what needs to be done to change them.

1. **First Normal Form.** 

(Your explantion here).

I believe that my relations are thus far in the first normal form. Each relation has columns dedicated to single, similar type values that are unique within the relation. Finally, each relation's non-primary attributes are dependant on their relative primary keys.

2. **Second Normal Form.**

(Your explanation here).

I see that my relations are in the second normal form because it meets the requirements to be in the first normal form and it does not have any partial dependencies. I do have composite keys in my relations which do open the potential for partial dependencies, however, all non-primary attributes are dependent on the entire composite.

3. **Third Normal Form.** 

(Your explanation here).

My relations are in the third normal form because it meets the requirements to be in the second normal form and there are no transitive dependencies. Any non-primary attribute in each relation is dependant solely on their relative relation key.

It seems to be going too smoothly so I must have missed something :).

**Revised relational scheme (if needed):**
(Your answer here).

#Part 5: Creating Tables
In this part, you'll be creating the tables to store the data about your monstrous students. This involves "mapping" the relational schema to an actual Postgres Databases. Here's what you need to do:

1. CREATE a SQL table for each of the relations you identied in part 4.
2. Make sure all the attribututes are assigned appropriate data types. For example, INTEGER, VARCHAR, or DATE.
3.  Assign appropriate primary keys and foreign keys.

In the starter code below, I've assumed you'll have tables along the line of the following. However, you should feel free to rename, add, or delete tables as needed!

a. Monsters

b. Classes

c. Locations

d. Monsters2Classes

e. Alumni

In [60]:
%%sql 
--If you make mistakes you might need to drop tables and start again
--Here's one way of doing this (run this cell as needed)

DROP TABLE Monsters

 * postgresql://postgres:***@localhost/my_data

InternalError: ignored

In [13]:
%%sql
--Here's the start of one create table statement
--You'll need to create each table individually
--You also need some contraints here!

CREATE TABLE Monsters(
  id INTEGER PRIMARY KEY,
  name VARCHAR(26) NOT NULL,
  dob DATE NOT NULL,
  species VARCHAR(26) NOT NULL,
  diet VARCHAR(),
  gpa NUMERIC(3,2) CHECK (gpa >= 0 AND gpa <= 4) NOT NULL,
  credits INTEGER NOT NULL

);

 * postgresql://postgres:***@localhost/my_data
(psycopg2.errors.DuplicateTable) relation "monsters" already exists

[SQL: --Here's the start of one create table statement
--You'll need to create each table individually
--You also need some contraints here!

CREATE TABLE Monsters(
  id INTEGER PRIMARY KEY,
  name VARCHAR(26) NOT NULL,
  dob DATE NOT NULL,
  species VARCHAR(26) NOT NULL,
  diet VARCHAR(15),
  gpa NUMERIC(3,2) CHECK (gpa >= 0 AND gpa <= 4) NOT NULL,
  credits INTEGER NOT NULL

);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [14]:
%%sql

CREATE TABLE Instructors(
  
  instructor_id INTEGER,
  office_building VARCHAR(2),
  room_number INTEGER CHECK (room_number >= 1 AND room_number <= 2000),

  FOREIGN KEY (office_building, room_number) REFERENCES Locations (building_code, room_number),
  FOREIGN KEY (instructor_id) REFERENCES Monsters (id)
);

 * postgresql://postgres:***@localhost/my_data
(psycopg2.errors.DuplicateTable) relation "instructors" already exists

[SQL: CREATE TABLE Instructors(

  instructor_id INTEGER,
  office_building VARCHAR(2),
  room_number INTEGER CHECK (room_number >= 1 AND room_number <= 2000),

  FOREIGN KEY (office_building, room_number) REFERENCES Locations (building_code, room_number),
  FOREIGN KEY (instructor_id) REFERENCES Monsters (id)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [28]:
%%sql

--Create another table, if needed

CREATE TABLE Classes(
  title VARCHAR(26) NOT NULL,
  instructor_id INTEGER,
  building_code VARCHAR(2),
  room_number INTEGER CHECK (room_number >= 1 AND room_number <= 2000),
  duration INTEGER CHECK (duration >= 30 AND duration <= 180),
  schedule VARCHAR(7),
  start_time VARCHAR(5),

  PRIMARY KEY (title, instructor_id),
  FOREIGN KEY (building_code, room_number) REFERENCES Locations (building_code, room_number),
  FOREIGN KEY (instructor_id) REFERENCES Monsters (id)

);

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [21]:
%%sql 
--Create another table, if needed

CREATE TABLE Locations(

  building_code VARCHAR(2),
  room_number INTEGER CHECK (room_number >= 1 AND room_number <= 2000),
  room_capacity INTEGER CHECK (room_capacity >= 10 AND room_capacity <= 300),

  PRIMARY KEY (building_code, room_number)
)

 * postgresql://postgres:***@localhost/my_data
(psycopg2.errors.DuplicateTable) relation "locations" already exists

[SQL: --Create another table, if needed

CREATE TABLE Locations(

  building_code VARCHAR(2),
  room_number INTEGER CHECK (room_number >= 1 AND room_number <= 2000),
  room_capacity INTEGER CHECK (room_capacity >= 10 AND room_capacity <= 300),

  PRIMARY KEY (building_code, room_number)
)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [22]:
%%sql 
--Create another table, if needed

CREATE TABLE Alumni(

  alumni_id INTEGER PRIMARY KEY,
  graduation_year INTEGER,
  degree VARCHAR(26)
)

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [23]:
%%sql
--Create another table, if needed

CREATE TABLE Instructors (

  instructor_id INTEGER,
  office_building_code VARCHAR(2),
  room_number INTEGER CHECK (room_number >= 1 AND room_number <= 2000),

  FOREIGN KEY (office_building_code, room_number) REFERENCES Locations (building_code, room_number),
  FOREIGN KEY (instructor_id) REFERENCES Monsters (id)
)

 * postgresql://postgres:***@localhost/my_data
(psycopg2.errors.DuplicateTable) relation "instructors" already exists

[SQL: --Create another table, if needed

CREATE TABLE Instructors (

  instructor_id INTEGER,
  office_building_code VARCHAR(2),
  room_number INTEGER CHECK (room_number >= 1 AND room_number <= 2000),

  FOREIGN KEY (office_building_code, room_number) REFERENCES Locations (building_code, room_number),
  FOREIGN KEY (instructor_id) REFERENCES Monsters (id)
)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [29]:
%%sql
--Create another table, if needed

CREATE TABLE Monsters2Classes ( 

  student_id INTEGER,
  class_title VARCHAR(26) NOT NULL,
  instructor_id INTEGER,

  FOREIGN KEY (class_title, instructor_id) REFERENCES Classes (title , instructor_id),
  FOREIGN KEY (student_id) REFERENCES Monsters (id)

)

 * postgresql://postgres:***@localhost/my_data
Done.

[]

#Part 6: Retrieving, Updating, and Deleting Data
In this part, you'll be inserting some data about Monsters, Classes, and Locations.

##6b. Inserting Data
Here are five monsters to insert your database:

1. Cookie Monster (unknown species) was born on Nov 10, 1969. His eats only cookies. He has 3.2 GPA and has completed 76 credits.
2. Marceline (vampire) was born in Feb 3, 1056. She eats "the color red". She is a teacher with a 0.0 GPA and 0 credits completed.
3. Chewbacca (wookie) was born on May 25, 1977. He is an omnivore. He has a 2.6 GPA and has completed 24 credits.
4. Dracula (vampire) was born on Aug 15, 1543. He drinks blood. He has a 4.0 GPA with 112 credits completed. He also teachers classes.
5. Maleficient (dragon) was born on Oct 26, 1856. She is a carnviore. She has a 3.8 GPA with 63 credits completed.
6. Insert at least FOUR more monsters of your choice. At least two of these should have the same species.

Now, show the data in the table.

Here are three locations to insert into your database:
1. CL 101 ("Castle level 1, room 1") holds 100 people.
2. CL 503 ("Castle level 5, room 3") holds 34 people.
3. MU 220 ("Monster Union room 220") holds 12 people.
4. Insert at least TWO more locations into your database. Both should be in the same building. 

Now, show the data in the table.


Here are two classes to insert into your database:
1. Marceline teaches Intro to Guitar on TH from 2 PM to 4 PM in MU 220.
2. Dracula teaches Monster First Aid on MWF from 9 PM to 10 PM in CL 503.
2. Insert at least ONE more class.

Now, show the data in the table.


"ENROLL" some students in your classes.
1. Cookie Monster, Chewbacca, and Maleficient (and perhaps some of the students you added) will take Monster First Aid.
2. Chewbacca and Malificient (and perhaps some of the students you added) will take Intro to Guitar.
3. Enroll some students in your own class!
Now, show the data in the table.


Finally, insert data for at least ONE alumni, and show the results.

In [ ]:
%%sql 
-- If you make mistakes, you might need to delete existing data from your tables. 
-- One way you might do this is as follows
-- You might need to include different table names!

DELETE FROM Monsters CASCADE;
DELETE FROM Locations CASCADE;
DELETE FROM Classes CASCADE;
DELETE FROM Alumni CASCADE;
DELETE FROM Monsters2Classes CASCADE;

 * postgresql://postgres:***@localhost/my_data
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [35]:
%%sql
--- Insert the data on Monsters. You'll be using statements like the following:
--INSERT INTO Monsters(id, name, ...) VALUES (1, 'Cookie Monster', ...);
  INSERT INTO Monsters(id, name, dob, species, diet, gpa, credits) VALUES (12340987, 'Cookie Monster', '1969-11-10', 'Unknown', 'Cookies', 3.2, 72),
                                                                          (37483957, 'Marceline', '1056-02-03', 'Vampire', 'The color red', 0.0, 0),
                                                                          (28594068, 'Chewbacca', '1977-06-25', 'Wookie', 'Omnivore', 2.6, 24),
                                                                          (28463070, 'Dracula', '1543-07-15', 'Vampire', 'Blood', 4.0, 112),
                                                                          (48395739, 'Maleficient', '1856-10-26', 'Dragon', 'Carnivore', 3.8, 63),
                                                                          (10473846, 'Gollum', '2430-03-25', 'Hobbit', 'Ring', 2.0, 432),
                                                                          (28465998, 'Mike Wazowski', '1971-06-10', 'Googly Bear', 'Free-spirit', 4.0, 56),
                                                                          (38948759, 'Costello', '505-04-11', 'Heptapod', NULL, 4.0, 125),
                                                                          (38948760, 'Abbott', '500-01-12', 'Heptapod', NULL, 4.0, 125)

--When you are done inserting, you should display the data, like so:
--SELECT * FROM Monsters;

 * postgresql://postgres:***@localhost/my_data
9 rows affected.

[]

In [39]:
%%sql
SELECT * FROM Monsters;

 * postgresql://postgres:***@localhost/my_data
9 rows affected.

[(12340987, 'Cookie Monster', datetime.date(1969, 11, 10), 'Unknown', 'Cookies', Decimal('3.20'), 72),
 (37483957, 'Marceline', datetime.date(1056, 2, 3), 'Vampire', 'The color red', Decimal('0.00'), 0),
 (28594068, 'Chewbacca', datetime.date(1977, 6, 25), 'Wookie', 'Omnivore', Decimal('2.60'), 24),
 (28463070, 'Dracula', datetime.date(1543, 7, 15), 'Vampire', 'Blood', Decimal('4.00'), 112),
 (48395739, 'Maleficient', datetime.date(1856, 10, 26), 'Dragon', 'Carnivore', Decimal('3.80'), 63),
 (10473846, 'Gollum', datetime.date(2430, 3, 25), 'Hobbit', 'Ring', Decimal('2.00'), 432),
 (28465998, 'Mike Wazowski', datetime.date(1971, 6, 10), 'Googly Bear', 'Free-spirit', Decimal('4.00'), 56),
 (38948759, 'Costello', datetime.date(505, 4, 11), 'Heptapod', None, Decimal('4.00'), 125),
 (38948760, 'Abbott', datetime.date(500, 1, 12), 'Heptapod', None, Decimal('4.00'), 125)]

In [ ]:
%%sql
--Insert the data on locations, and show the results

INSERT INTO Locations(building_code, room_number, room_capacity) VALUES ('CL', 101, 100),
                                                                        ('CL', 503, 34),
                                                                        ('MU', 220, 12),
                                                                        ('MU', 115, 300),
                                                                        ('SH', 710, 25)

In [40]:
%%sql
SELECT * FROM Locations;

 * postgresql://postgres:***@localhost/my_data
5 rows affected.

[('CL', 101, 100),
 ('CL', 503, 34),
 ('MU', 220, 12),
 ('MU', 115, 300),
 ('SH', 710, 25)]

In [ ]:
%%sql
--Insert the data on classes, and show the results
INSERT INTO Classes(title, instructor_id, building_code, room_number, duration, schedule, start_time) VALUES ('Intro to Guitar', 37483957, 'MU', 220, 120, 'TH', '2 PM'),
                                                                                           ('Monster First Aid', 28463070, 'CL', 503, 60, 'MWF', '9 PM'),
                                                                                           ('Physics', 38948759, 'MU', 115, 180, 'MTWTHF', '2 PM')

In [42]:
%%sql
SELECT * FROM Classes;

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[('Intro to Guitar', 37483957, 'MU', 220, 120, 'TH', '2 PM'),
 ('Monster First Aid', 28463070, 'CL', 503, 60, 'MWF', '9 PM'),
 ('Physics', 38948759, 'MU', 115, 180, 'MTWTHF', '2 PM')]

In [43]:
%%sql
--Insert the alumni data, and show the results
INSERT INTO Alumni(alumni_id, graduation_year, degree) VALUES (38948760, 1001, 'Astrophysics')

 * postgresql://postgres:***@localhost/my_data
1 rows affected.

[]

In [44]:
%%sql
SELECT * FROM Alumni;

 * postgresql://postgres:***@localhost/my_data
1 rows affected.

[(38948760, 1001, 'Astrophysics')]

In [45]:
%%sql
--Insert the enrollment data, and show the results

INSERT INTO Monsters2Classes(student_id, class_title, instructor_id) VALUES (12340987, 'Monster First Aid', 28463070),
                                                                            (28594068, 'Monster First Aid', 28463070),
                                                                            (48395739, 'Monster First Aid', 28463070),
                                                                            (28594068, 'Intro to Guitar', 37483957),
                                                                            (48395739, 'Intro to Guitar', 37483957),
                                                                            (10473846, 'Physics', 38948759),
                                                                            (28465998, 'Physics', 38948759),
                                                                            (37483957, 'Physics', 38948759)

 * postgresql://postgres:***@localhost/my_data
8 rows affected.

[]

In [46]:
%%sql
SELECT * FROM Monsters2Classes;

 * postgresql://postgres:***@localhost/my_data
8 rows affected.

[(12340987, 'Monster First Aid', 28463070),
 (28594068, 'Monster First Aid', 28463070),
 (48395739, 'Monster First Aid', 28463070),
 (28594068, 'Intro to Guitar', 37483957),
 (48395739, 'Intro to Guitar', 37483957),
 (10473846, 'Physics', 38948759),
 (28465998, 'Physics', 38948759),
 (37483957, 'Physics', 38948759)]

#6c: Updating Data
In this section, I'd like you to run the following updates

1. MU 220 has been expanded! It can now hold 25 students, instead of 12.
2. Another semester has passed. Add 12 credits to each student's record.
3. [Another update of your choice--describe here.]

After each update please SELECT from the table to show the results.

In [47]:
%%sql
--Update MU 220 and show results

UPDATE Locations
SET room_capacity = 25
WHERE building_code = 'MU' AND room_number = 220

 * postgresql://postgres:***@localhost/my_data
1 rows affected.

[]

In [48]:
%%sql

SELECT * FROM Locations

 * postgresql://postgres:***@localhost/my_data
5 rows affected.

[('CL', 101, 100),
 ('CL', 503, 34),
 ('MU', 115, 300),
 ('SH', 710, 25),
 ('MU', 220, 25)]

In [49]:
%%sql 
--Update student credits and show results

UPDATE Monsters 
SET credits = credits + 12
FROM Monsters2Classes
WHERE id = student_id

 * postgresql://postgres:***@localhost/my_data
6 rows affected.

[]

In [50]:
%%sql

SELECT * FROM Monsters

 * postgresql://postgres:***@localhost/my_data
9 rows affected.

[(28463070, 'Dracula', datetime.date(1543, 7, 15), 'Vampire', 'Blood', Decimal('4.00'), 112),
 (38948759, 'Costello', datetime.date(505, 4, 11), 'Heptapod', None, Decimal('4.00'), 125),
 (38948760, 'Abbott', datetime.date(500, 1, 12), 'Heptapod', None, Decimal('4.00'), 125),
 (12340987, 'Cookie Monster', datetime.date(1969, 11, 10), 'Unknown', 'Cookies', Decimal('3.20'), 84),
 (28594068, 'Chewbacca', datetime.date(1977, 6, 25), 'Wookie', 'Omnivore', Decimal('2.60'), 36),
 (48395739, 'Maleficient', datetime.date(1856, 10, 26), 'Dragon', 'Carnivore', Decimal('3.80'), 75),
 (10473846, 'Gollum', datetime.date(2430, 3, 25), 'Hobbit', 'Ring', Decimal('2.00'), 444),
 (28465998, 'Mike Wazowski', datetime.date(1971, 6, 10), 'Googly Bear', 'Free-spirit', Decimal('4.00'), 68),
 (37483957, 'Marceline', datetime.date(1056, 2, 3), 'Vampire', 'The color red', Decimal('0.00'), 12)]

In [72]:
%%sql 

ALTER TABLE Monsters ALTER COLUMN diet VARCHAR(30)

 * postgresql://postgres:***@localhost/my_data
(psycopg2.errors.SyntaxError) syntax error at or near "VARCHAR"
LINE 1: ALTER TABLE Monsters ALTER COLUMN diet VARCHAR(30)
                                               ^

[SQL: ALTER TABLE Monsters ALTER COLUMN diet VARCHAR(30)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [68]:
%%sql 
--An update of your choice and show the results

UPDATE Monsters 
SET diet = CONCAT(diet,' (Ethically Sourced)')
WHERE species = 'Vampire'

--so I tried to update the column to hold a larger string but it wouldn't work? Anyway this is the update I wanted to make haha.

 * postgresql://postgres:***@localhost/my_data

DataError: ignored

#Part 7: SQL Queries
In this section, you'll be demonstrating your ability to retrieve data from the database you've created using SQL queries.

##7a: Simple Single table queries
Retreive a list of monsters ordered alphabetically by name. Limit your results to 5.

In [ ]:
%%sql
-- 7a

SELECT * 
FROM Monsters
ORDER BY name ASC
LIMIT 5

 * postgresql://postgres:***@localhost/my_data
5 rows affected.

[(38948760, 'Abbott', datetime.date(500, 1, 12), 'Heptapod', None, Decimal('4.00'), 125),
 (28594068, 'Chewbacca', datetime.date(1977, 6, 25), 'Wookie', 'Omnivore', Decimal('2.60'), 36),
 (12340987, 'Cookie Monster', datetime.date(1969, 11, 10), 'Unknown', 'Cookies', Decimal('3.20'), 84),
 (38948759, 'Costello', datetime.date(505, 4, 11), 'Heptapod', None, Decimal('4.00'), 125),
 (28463070, 'Dracula', datetime.date(1543, 7, 15), 'Vampire', 'Blood', Decimal('4.00'), 112)]

##7b. Single-table queries with WHERE and LIKE
Retrieve JUST the classes that meet on Wednesday (where Wednesday is the 'W' in strings like 'MWF').

In [ ]:
%%sql
-- 7b

SELECT * 
FROM Classes
WHERE schedule LIKE '%W%'

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[('Monster First Aid', 28463070, 'CL', 503, 60, 'MWF', '9 PM'),
 ('Physics', 38948759, 'MU', 115, 180, 'MTWTHF', '2 PM')]

##7c. Single-table queries with aggregate functions
Retrieve the minimum, maximum, and average GPA included in your database. You should label the columns "Min GPA", "Max GPA", and "Avg GPA".

In [73]:
%%sql 
--7c

SELECT MIN(gpa) AS "Min GPA", MAX(gpa) AS "Max GPA", ROUND(AVG(gpa),2) AS "Avg GPA"
FROM Monsters

 * postgresql://postgres:***@localhost/my_data
1 rows affected.

[(Decimal('0.00'), Decimal('4.00'), Decimal('3.07'))]

##7d. Single table queries with GROUP BY
Retrieve a list of each monster species included in the database, along with a count of how many monsters are members of the species.

In [74]:
%%sql
--7d

SELECT species, COUNT(id)
FROM Monsters
GROUP BY species

 * postgresql://postgres:***@localhost/my_data
7 rows affected.

[('Vampire', 2),
 ('Unknown', 1),
 ('Dragon', 1),
 ('Hobbit', 1),
 ('Wookie', 1),
 ('Googly Bear', 1),
 ('Heptapod', 2)]

##7e. Single-table queries with HAVING
Retrieve a list of the buildings (not rooms!) in your data that have a total capacity of more than 20. (A building's capacity is simply the sum of the capacities of all the classrooms it contains).

In [ ]:
%%sql
--7e

SELECT *
FROM (SELECT DISTINCT building_code AS "Building", SUM(room_capacity) AS "Total Capacity"
      FROM Locations
      GROUP BY building_code)
AS foo
WHERE "Total Capacity" > 20

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[('CL', 134), ('MU', 325), ('SH', 25)]

##7f. Subqueries
Retrieve a list of monsters names and species, together with a count of how many members of that species are in the database.

In [91]:
%%sql
-- 7f

 * postgresql://postgres:***@localhost/my_data
(psycopg2.errors.CardinalityViolation) more than one row returned by a subquery used as an expression

[SQL: -- 7f
SELECT name, species, (SELECT COUNT(id)
                      FROM Monsters
                      GROUP BY species)
FROM Monsters
GROUP BY species, name]
(Background on this error at: https://sqlalche.me/e/14/f405)

#7g. Simple multi-table queries with JOIN
Retrieve the names and GPAs of students enrolled in Intro to Guitar.

In [ ]:
%%sql
-- 7g

SELECT name, gpa
FROM Monsters JOIN Monsters2Classes
ON Monsters.id = Monsters2Classes.student_id
WHERE class_title = 'Intro to Guitar'

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[('Chewbacca', Decimal('2.60')), ('Maleficient', Decimal('3.80'))]

##7h. More complex multi-table queries
Retrieve the total students taught by each teacher in the database. You should have one row of output for each teacher with their name and the total number of students.

In [ ]:
%%sql 
-- 7h

SELECT name, COUNT(DISTINCT student_id)
FROM Monsters JOIN Monsters2Classes
ON Monsters.id = Monsters2Classes.instructor_id
GROUP BY name

 * postgresql://postgres:***@localhost/my_data
2 rows affected.

[('Dracula', 3), ('Marceline', 2)]

##7i. Creation of Views
Create a VIEW based on a SQL query of your choice. Now "SELECT *" from this view to show the results.

In [ ]:
%%sql

DROP VIEW TopThreeStudents

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [ ]:
%%sql
-- 7i

CREATE VIEW TopThreeStudents AS
SELECT name
FROM Monsters
ORDER BY gpa DESC
LIMIT 3

 * postgresql://postgres:***@localhost/my_data
Done.

[]

In [ ]:
%%sql
SELECT * FROM TopThreeStudents

 * postgresql://postgres:***@localhost/my_data
3 rows affected.

[('Dracula',), ('Mike Wazowski',), ('Costello',)]

##7g. Creation of Indexes.
Create an index on the column that contains the Monster's names.

In [ ]:
%%sql
-- 7f

CREATE INDEX monster_index
ON Monsters (name)

 * postgresql://postgres:***@localhost/my_data
Done.

[]

#8. Database Design Philosophy
In 150 to 200 words, answer the question **"What are the keys to designing a successful database, and how is this reflected in your own work here?"**

YOUR ANSWER HERE.

The few key insights that I have picked up come down to (1) consider all the necessary entities/attributes that will serve the databases purpose (2) creating structure that ensure all data is accesible (3) trial and error to see what is effective and ineffective. Although the scenario analysis minimized the amount of thought I had to put into what this database would look like and how it would work, I nonetheless had to think about why each guideline might be necessary. In doing so, I was able to create an ERD that did not need much changing and continously helped me with further creation and implementation of this database. While making sure that all data could be useful data, I also had to make sure that data would be in a desirable place. By having my relations in the third normal form, all of my data can be uniquely indentified and accessed. As for trial and error, much of what I learned came from implementing the plan and writing code to see what I had and what I was missing. For example, I had not identified many areas where I had foreign keys so when I created tables, these constraints were not immediately in place and this was something I had identify and fix later on.

#9. Be Creative!
In 150 to 200 words, tell me about what you've done (or will do, in this section) that goes above and beyond the "requirements" of the assignment. Why did you choose to do this? What did you learn from doing it?

YOUR ANSWER HERE.

(Feel free to add code cells below if needed.)

In [ ]:
%%sql
-- Include code, if needed.

#10. Share Work With Me on Github
Finally, I'd like you to share your work with me on Github. If you are interesting in working in computer science or IT, it's good to have a basic understanding of how Github works, as its something like an industry "standard" way of sharing code. 
 
Here's what you need to do:
1. Create an account on https://github.com/ 
2. Create a PUBLIC repository called "database_sql".
3. Save your **completed** lab to this repository. From colab, all you need to do is go to "File: Save a copy in Github."

An in-depth tutorial on using Github is here:
https://docs.github.com/en/get-started/quickstart/hello-world 
The only things you need to worry about are (a) creating an account and (b) creating a repository. We won't be worry about branches, commits, or pulls (though you are free to read up on these!). 

Once you've done this, please write down your:

USERNAME: 

REPOSITORY LINK:

And that's it! I've enjoyed having you in class--enjoy the rest of the semster :).

**You should also submit this to the D2L Assignment folder.**